#onecolumnpage {
    text-align: left;
}
.page-item-6,
.page-item-6 a,
.page-item-6 a:hover,
.page-item-6 a:visited {
    background: #727272 url("./images/menuhover.png") no-repeat center top;
    color: #fff !important;
    text-decoration: none;
}

@media (max-width: 991px) {
    .page-item-6,
    .page-item-6 a,
    .page-item-6 a:hover,
    .page-item-6 a:visited {
        background: #616161;
        color: #fff !important;
        text-decoration: none;
    }
}
